<a href="https://colab.research.google.com/github/cevheri/ml/blob/master/02_python_beginner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IF Statements

In [ ]:
cars = ['audi', 'bmw', 'subaru', 'toyota']
for car in cars:
  if car == 'bmw':
    print(car.upper())
  else:
    print(car.title())

Audi
BMW
Subaru
Toyota

In [ ]:
car = 'bmw'
print(car == 'bmw')
# True

car = 'bmw'
print(car == 'audi')
# False

car = 'bmw'
print(car == 'BMW')
# False

car = 'bmw'
print(car.upper() == 'BMW')
# True

True
False
False
True

## Inequality (!=)

In [ ]:
requested_topping = 'mushrooms'
if requested_topping != 'anchovies':
  print("Hold the anchovies!")

Hold the anchovies!

## Numerical

In [ ]:
age = 18
print(age == 18)

True

In [ ]:
answer = 17

if answer != 42:
  print("That is not the correct answer. Please try again!")

That is not the correct answer. Please try again!

In [ ]:
age = 19
print(age < 21)
# True

print(age <= 21)
# True

print(age > 21)
# False

print(age >= 21)
# False

True
True
False
False

### Multiple Conditions

#### and

In [ ]:
age_0 = 22
age_1 = 18
print(age_0 >= 21 and age_1 >= 21)


age_1 = 22
print(age_0 >= 21 and age_1 >= 21)

print((age_0 >= 21) and (age_1 >= 21))

False
True
True

#### or

In [ ]:
age_0 = 22
age_1 = 18
print(age_0 >= 21 or age_1 >= 21)
# True

age_0 = 18
print(age_0 >= 21 or age_1 >= 21)
# False

True
False

## Value

In [1]:
requested_toppings = ['mushrooms', 'onions', 'pineapple'] 
print('mushrooms' in requested_toppings)
# True 
print('pepperoni' in requested_toppings)
# False

True
False

In [2]:
banned_users = ['andrew', 'carolina', 'david']
user = 'marie'
if user not in banned_users:
  print(user.title() + ", you can post a response if you wish.")

Marie, you can post a response if you wish.

## Boolean Expressions

In [ ]:
game_active = True
can_edit = False

# if-else Statements

In [3]:
age = 17
if age >= 18:
	print("You are old enough to vote!")
	print("Have you registered to vote yet?")
else:
	print("Sorry, you are too young to vote.")
	print("Please register to vote as soon as you turn 18!")

Sorry, you are too young to vote.
Please register to vote as soon as you turn 18!

# if-elif-else

In [4]:
age = 12
if age < 4:
	print("Your admission cost is $0.")
elif age < 18:
	print("Your admission cost is $5.")
else:
	print("Your admission cost is $10.")

Your admission cost is $5.

# if statements with lists

In [5]:
requested_toppings = ['mushrooms', 'green peppers', 'extra cheese']
for requested_topping in requested_toppings:
	if requested_topping == 'green peppers':
		print("Sorry, we are out of green peppers right now.")
	else:
		print("Adding " + requested_topping + ".")
print("\nFinished making your pizza!")

Adding mushrooms.
Sorry, we are out of green peppers right now.
Adding extra cheese.

Finished making your pizza!

# That a List Is Not Empty

In [6]:
requested_toppings = [] 
if requested_toppings:
  for requested_topping in requested_toppings:
    print("Adding " + requested_topping + ".")
  print("\nFinished making your pizza!")
else:
  print("Are you sure you want a plain pizza?")

Are you sure you want a plain pizza?

# Using Multiple Lists

In [8]:
available_toppings = ['mushrooms', 'olives', 'green peppers','pepperoni', 'pineapple', 'extra cheese']
requested_toppings = ['mushrooms', 'french fries', 'extra cheese']

for requested_topping in requested_toppings:
	if requested_topping in available_toppings:
		print("Adding " + requested_topping + ".")
	else:
	  print("Sorry, we don't have " + requested_topping + ".")

print("\nFinished making your pizza!")

Adding mushrooms.
Sorry, we don't have french fries.
Adding extra cheese.

Finished making your pizza!