<a href="https://colab.research.google.com/github/cevheri/ml/blob/master/02_python_beginner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IF Statements

In [ ]:
cars = ['audi', 'bmw', 'subaru', 'toyota']
for car in cars:
  if car == 'bmw':
    print(car.upper())
  else:
    print(car.title())

Audi
BMW
Subaru
Toyota

In [ ]:
car = 'bmw'
print(car == 'bmw')
# True

car = 'bmw'
print(car == 'audi')
# False

car = 'bmw'
print(car == 'BMW')
# False

car = 'bmw'
print(car.upper() == 'BMW')
# True

True
False
False
True

## Inequality (!=)

In [ ]:
requested_topping = 'mushrooms'
if requested_topping != 'anchovies':
  print("Hold the anchovies!")

Hold the anchovies!

## Numerical

In [ ]:
age = 18
print(age == 18)

True

In [ ]:
answer = 17

if answer != 42:
  print("That is not the correct answer. Please try again!")

That is not the correct answer. Please try again!

In [ ]:
age = 19
print(age < 21)
# True

print(age <= 21)
# True

print(age > 21)
# False

print(age >= 21)
# False

True
True
False
False

### Multiple Conditions

#### and

In [ ]:
age_0 = 22
age_1 = 18
print(age_0 >= 21 and age_1 >= 21)


age_1 = 22
print(age_0 >= 21 and age_1 >= 21)

print((age_0 >= 21) and (age_1 >= 21))

False
True
True

#### or

In [ ]:
age_0 = 22
age_1 = 18
print(age_0 >= 21 or age_1 >= 21)
# True

age_0 = 18
print(age_0 >= 21 or age_1 >= 21)
# False

True
False

## Value